body {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 600;
}
.container {
    max-width: 943px;
    padding: 0 15px;
    margin: auto;
}

.wrapper {
    padding: 25px 0;
    border-bottom: 1px solid grey;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between
}

.banner, .block {
    padding: 50px 0;
}
.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.banner img {
    margin: 85px 0 101px;
}
.block p {
    margin: 30px 200px;
    text-align: center;
}
.block img  {
    width: 50px;
    margin-left: 200px;
    }

#about, #portfolio {
background-color: #F6F6F6;
}

h1, h2 { 
    padding: 0 0 20px 0;
    font-style: normal;
    font-weight: 700;
}
h1 {
font-size: 47.3392px;
line-height: 58px;
max-width: 312px;
margin-right: 298px;
}
h2 {
font-size: 34px;
line-height: 41px;
text-align: center;
}
h2::first-letter { color: blue; }
p {
    padding: 10px 0;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer button {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: black;
    background-color: #F6F6F6;
    width: 271.24px;
    height: 42px;
    left: 595px;
    top: 4404px;
}
#contacts {
    text-align: center;
}
a:focus { color: blue;}
a:hover {color: green}
